<h3>{{items.length < 1 ? 'Empty ' : ''}}Cart</h3>
<div *ngIf="items.length < 1">  
  <a class="button" routerLink="">Continue shopping</a>
</div>

<div *ngIf="items.length > 0">
  <p>
    <a routerLink="/shipping">Shipping Prices</a>
  </p>

  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
    <span><button (click)="removeItem(item)">Remove</button></span>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onCheckoutFormSubmit(checkoutForm.value)">
    <div>
      <label for="name">
        Name:
      </label>
      <input type="text" id="name" formControlName="name" />
    </div>

    <div>
      <label for="address">
        Address:
      </label>
      <input type="text" id="address" formControlName="address" />
    </div>

    <button class="button" type="submit" [disabled]="!checkoutForm.valid">Purchase</button>
  </form>
</div>
